*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-red {
    background-color: #f1524c;
}
.nav-title {
    font-size: 2rem;
}
.heart {
    font-size: 2rem;
    text-align: right;
    width: 100%;
}
.content {
    background-color: #f5f3f2;
}
.card-border {
    border-radius: 25px;
}
.main-cover {
    max-width: 700px;
    width: 65%;
}
.main-name {
    max-width: 400px;
}
.main-text {
    display: inline;
    width: 30%;
}

@media (max-width: 768px) {
    .heart {
        width: unset;
    }
}

@media (max-width: 576px) {
    .nav-title {
        font-size: 1rem;
    }
    .main-name {
        max-width: 300px;
    }
    .main-cover {
        width: 100%;
    }
}